<h1>{{ title }}</h1>
{% if not name  %}
<form method="get" action="">
<label for="id_q">Please Login:</label><br>
 <a>Name:</a>          <input type="text" name="q" id="id_q"/><br>
  <a>Email:</a>          <input type="text" name="j" id="id_j"/>
           <input type="submit" value="login"/>

        </form>
{% endif %}
<p>{{ violat }}</p>
<p>{{ name.0.name }}</p>
    <p>{{ uid }}</p>
<p>{{ gender }}</p>
<p>{{ job }}</p>
<p>{{ favor }}</p>
{% if name %}
<form method="get" action="">
<label for="id_p">Change Favorite:</label>
           <input type="text" name="p" id="id_p"/>
           <input type="submit" value="Push"/>

        </form>
{% endif %}
{% if name %}
<a href="http://127.0.0.1:8000/search">Click to search</a>
{% endif %}